#ajouterBouton {
    margin-left: auto; /* Repousse le bouton à droite */
    width: 150px; /* Ajuste la largeur pour s'adapter */
}

nav {
    height: 100vh; /* La hauteur reste fixée à 100% de la hauteur de la fenêtre */
    background-color: #323232; /* Couleur de fond existante */
    position: fixed; /* Fixe le menu au côté gauche de la fenêtre */
   /* top: 0; /* Place le menu au sommet */
    left: 0; /* Menu aligné à gauche */
    width: 16.66%; /* Largeur fixe pour le menu */
    padding-top: 16rem; /* Ajoute un espacement supérieur de 6rem pour décaler le contenu */
}

